{
  "label": "MasterConfig 🌔",
  "defaultTestTimeout": 120000,
  "scriptsDir": "scripts/",
  "environments": [
    {
      "name": "smoke_stagenet",
      "envVars": ["DEBUG_COLORS=1"],
      "contracts": "contracts/",
      "testFileDir": ["/suites/smoke"],
      "runScripts": ["compile-contracts.ts compile"],
      "reporters": ["basic", "json"],
      "reportFile": {
        "json": "./tmp/testResults.json"
      },
      "multiThreads": false,
      "foundation": {
        "type": "read_only",
        "launchSpec": {
          "disableRuntimeVersionCheck": true,
          "rateLimiter": {
            "minTime": 200,
            "maxConcurrent": 4
          }
        }
      },
      "connections": [
        {
          "name": "ethers",
          "type": "ethers",
          "endpoints": ["{{STAGENET_WSS}}"],
        },
        {
          "name": "viem",
          "type": "viem",
          "endpoints": ["{{STAGENET_WSS}}"],
        },
        {
          "name": "para",
          "type": "polkadotJs",
          "endpoints": ["{{STAGENET_WSS}}"],
          "rpc": {
            "moon": {
              "isBlockFinalized": {
                "params": [
                  {
                    "name": "blockHash",
                    "type": "Hash"
                  }
                ],
                "type": "bool"
              }
            }
          }
        },
        {
          "name": "relay",
          "type": "polkadotJs",
          "endpoints": [
            "{{STAGENET_RELAY_WSS}}"
          ]
        }
      ]
    }
  ]
}

